<div class="container">
  <div class="投稿詳細">
    
  <%= @post.title %>
  <%= link_to "編集画面へ", edit_post_path(@post.id) %>
  
  <% @post_tags.each do |tag| %>
    <%=tag.name%><%="(#{tag.posts.count})" %>
    
  <% end %>
    
  </div>
  
  
  
</div>