<%= form_with(model:[post, comment],local: false) do |f| %>
  <div id="error-comments">
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
  <%= f.text_area :comment, placeholder: "コメントはこちらに入力して下さい（100文字以内）", class:"w-100", rows:"3" %>
  <%= f.submit "　送信　", class:"btn btn-sm btn-success float-right" %>
<% end %>