@import '~bootstrap/scss/bootstrap';
@import 'https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Poppins:ital,wght@1,900&display=swap';

body {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #f8f9fa;
}


.bg-alice{
 background: aliceblue;
}

.bg-black{
  background-color: #000;
}


.pagination {
  justify-content: center;
}

.map-container{
  background-color: #8dcdfb;
}

.map-button{
  box-shadow: 13px 13px 21px -12px #757575;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

.home-menu .card-columns{
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
    @include media-breakpoint-only(xl) {
    column-count: 4;
  }

}

.search-form-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 1px solid #000000;
    border-radius: 25px;
}

.search-form-1 input {
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-1 input::placeholder{
    color: #80888e;
}

.search-form-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.fusen {
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    border-right: 27px solid #2589d0;
    background-color: #f5f5f5;
    color: #333333;
}

.fusen::before {
    position: absolute;
    bottom: 2px;
    right: -20px;
    z-index: -1;
    transform: rotate(5deg);
    width: 100%;
    height: 50%;
    background-color: #d0d0d0;
    content: "";
    filter: blur(4px);
}
.flash-notifications {
  font-weight: bold;
  color: white;
  text-align: center; 
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;

  .notice-flash {
    background-color: #ADD8E6;
    padding: 5px 15px 5px 15px;
    border-radius: 5%;
  }

  .alert-flash {
    background-color: #FF4500;
    padding: 5px 15px 5px 15px;
    border-radius: 5%;
  }

  }

.new-img{
  height: 150px;
  object-fit: cover;
  border: solid;
}

.new-postimg{
  width: 100%;
  object-fit: cover;
  border: solid;
}

.profileMenu-back{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.profileMenu{
  position: absolute;
  top: 4%;
  left: 6%;
  background-color: #e6ecf0;
  padding: 20px 10px 90px;
  border-radius: 10px;
  width: 88%;
  height: auto;
  text-align: center;
}

a.btn-border {
  top: 10px;
  right: 10px;
  position:absolute;
  border: 2px solid #000;
  border-radius: 50%; 
  cursor: pointer;
}

.midashi{
    font-size:  24px;
    font-weight: bold;
    position:  relative;
    display:  inline-block;
    background-color: #feeaac;
    padding:  10px;
    margin-bottom: 15px;
    border-radius:  2px;
}

.user-list{
  height: 100px;
}

.midashi:before{
    content:  '';
    background-color: #b3b3b3;
    display:  block;
    position:  absolute;
    left: 50%;
    height: 60%;
    top: 26%;
    z-index:  -1;
    width: 46%;
    box-shadow: 0 0 8px 8px #b3b3b3;
    transform: rotate(3deg);
}

.home-menu:first-child .midashi{
  @include media-breakpoint-down(sm) {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.ranking img{
  max-height: 120px;
  @include media-breakpoint-down(sm) {
    max-height: 180px;
  }
}

.ranking .card{
  min-height: 100px;
    @include media-breakpoint-down(sm) {
    height: 260px;
  }
}

.ranking .post-title{
    font-weight: bold;
    margin-left: 10px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-top: 9px;
    }
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }
  }

.rank-board1{
  font-size: 28px;
}

.rank-number{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-family: 'Poppins', sans-serif;
  margin-left: 12px;
  @include media-breakpoint-down(sm) {
    width: 35px;
    height: 35px;
    line-height: 35px;    
    margin-top: 9px;
  }
}

.rank1{
  background: linear-gradient(145deg, #ffff5f, #d7d850);
  box-shadow:  1px 1px 6px #e5e854;
  color: white;
  font-size: 36px;
    @include media-breakpoint-down(md) {
    font-size: 30px;
  }
}

.rank-board2{
}

.rank2{
  background: linear-gradient(145deg, #e8e8e8, #c3c3c3);
  box-shadow: 1px 1px 6px #7e7e7e;
  color: white;
  font-size: 36px;
  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
}

.rank-board3{
}

.rank3{
  background: linear-gradient(145deg, #eb8949, #c6733d);
  box-shadow: 1px 1px 6px #ea8848;
  color: white;
  font-size: 36px;
  @include media-breakpoint-down(md) {
    font-size: 30px;
  }
}

.rank-board4{
}

.rank4{
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: linear-gradient(145deg, #48b4ea, #3c97c5);
  box-shadow: 1px 1px 6px #3f9ece;
  color: white;
  font-size: 30px;
  @include media-breakpoint-down(md) {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
  }
}

.rank-board5{
}

.rank5{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 32px;
  background: linear-gradient(145deg, #40be38, #36a02f);
  box-shadow: 1px 1px 6px #38a731;
  color: white;
  font-size: 30px;
  @include media-breakpoint-down(md) {
    width: 35px;
    height: 35px;
    line-height: 35px;    
    font-size: 25px;
  }
}

#fa-rank{
  font-size: 30px;
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
  color: rgb(251,116,116);
}

#fa-size{
  font-size: 32px;
  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
}

.card{
  background: #fff;
  transition: background-color 0.5s;
}

.card img:hover{
	opacity:0.5;
	transition:0.3s;
}

#sub-btn{
  position: absolute;
  right: 74px;
  bottom: 20px;
}

.login-btn{
  background-color:#4db5f9;
  border-color:#4db5f9;
  width: 10em;
}

.header_logo{
  width: 200px;
  height: auto ;
}

.posts{
  width: auto;
  height: 300px;
}

#map{
   height: 300px;
  width: 100%;
}

.img-reg{
  border-top: solid;
  border-bottom: solid;
}

#post-detail{
  width: 95%;
}

#user-prof{
  top: 19px;
  @include media-breakpoint-down(sm) {
    top: 0;
  }
}

.user-name{
  position:absolute;
  top: 11px;
}

.post-img{
  width: auto;
  max-height: 600px;
}

#search-form{
  background-color: #81caff;
}

.search-result{
  @include media-breakpoint-up(sm) {
    .card-text:nth-child(2){
    font-size: 14px;
    }
      .card-text:nth-child(3){
    font-size: 13px;
    }
  }
  
}
.post-caption-val{
  min-height: 110px;
  height: auto ;
}

.map-img{
  width: 100px;
  height: auto;
}

#map-info{
  height: 52vh;
}

// マップページ検索フォーム用
#form2{
  margin-bottom: 20px;
  -webkit-appearance: none;
  
  a{
    border: 2px solid;
    width: 45px;
    -webkit-appearance: none;
  }
  
  i{
    position: absolute;
    left: 10px;
    top: 13px;
    -webkit-appearance: none;
  }
}

#form2 #address{
  width: 211px;	
  height: 50px;
  padding: 0 10px; 
  position: absolute; 
  left: 0;
  top: 0; 
  border-radius: 16px 0 0 16px;
  outline: 0;
  background:#fff;
  -webkit-appearance: none;
}

#sbtn2{
  height: 50px;
  position: absolute; 
  left: 202px;
  top: 0;
  border-radius: 0 15px 15px 0;
  background-color:#fff;
  color:#666;
  border: none;
  font-size: 20px;
  -webkit-appearance: none;
}

.tag{
  position: relative;
  margin-left: 30px;
  font-size: 12px;
}


.tag:after{
  position: absolute;
  top: calc(53% - 7px);
  left: 7px;
  width: 12px;
  height: 12px;
  content: "";
  border-radius: 50%;
  background: #fff;
}

#post-map{
  width: 90%;
  height: 34vh;
}

.ruled-line{
 width: 100%;
 background-image : linear-gradient(to right, #9d9d9dad 13px, transparent 2px);
 background-size: 34px 3px;
 background-repeat: repeat-x; 
 background-position: left bottom;
 color:#f8f9fa;
}

.favorite-link {
  text-decoration: none;
}

.favorite-btn {
  font-size: 1em;
  color: #808080;
}

.unfavorite-btn {
  font-size: 1em;
  color: #e54747;
}

#post-comments{
  font-size: 14px;
}

.comment-user{
  line-height: 50px;
  font-size: 13px;
  font-weight: bold;
}

.fav-btn{
    position: relative;
    left: 16%;
    border-radius: 21px;
    background: linear-gradient(145deg, #ffe4ff, #ffa6f0);
    box-shadow: 3px 3px 6px #dda1e6;
    @include media-breakpoint-down(lg) {
      left: 32% ;
    }
}

.map-searchform{
  top: 5px;
  left: 5px;
}

#withdrawal_form{
  font-size: 20px;
      @include media-breakpoint-down(md) {
        font-size: 12px;
    }
}
