@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap';

body {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #f8f9fa;
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

.new-img{
  width: 200px;
  object-fit: cover;
  border: solid;
}

.profileMenu-back{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.profileMenu{
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 70%;
  height: auto;
  text-align: center;
}

a.btn-border {
  top: 10px;
  right: 10px;
  position:absolute;
  border: 2px solid #000;
  border-radius: 50%; 
  cursor: pointer;
}

.card{
  background: #fff;
  transition: background-color 0.5s;
}

.card img:hover{
	opacity:0.5;
	transition:0.3s;
}

#sub-btn{
  position: absolute;
  right: 74px;
  bottom: 20px;
}

.login-btn{
  background-color:#4db5f9;
  border-color:#4db5f9;
  width: 10em;
}

.header_logo{
  width: 200px;
  height: auto ;
}

.posts{
  width: auto;
  height: 300px;
}

#map{
   height: 300px;
  width: 100%;
}

.img-reg{
  border-top: solid;
  border-bottom: solid;
}

#post-detail{
  width: 95%;
}

#user-prof{
  top: 18px;
}

.user-name{
  position:absolute;
  top: 11px;
}

.post-img{
  width: auto;
  max-height: 600px;
}

#search-form{
  background-color: #81caff;
}

.post-caption-val{
  min-height: 110px;
  height: auto ;
}

#map-info{
  height: 52vh;
}

#post-map{
  width: 22vw;
  height: 36vh;
}

.ruled-line{
 width: 100%;
 background-image : linear-gradient(to right, #9d9d9dad 13px, transparent 2px);
 background-size: 34px 3px;
 background-repeat: repeat-x; 
 background-position: left bottom;
 color:#f8f9fa;
}

.favorite-link {
  text-decoration: none;
}

.favorite-btn {
  font-size: 1em;
  color: #808080;
}

.unfavorite-btn {
  font-size: 1em;
  color: #e54747;
}

#post-comments{
  font-size: 14px;
}

.fav-btn{
    position: relative;
    left: 16%;
    border-radius: 21px;
    background: linear-gradient(145deg, #ffe4ff, #ffa6f0);
    box-shadow: 3px 3px 6px #dda1e6;
}


